/* common UI elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

/* header elements */
.header-container {
    background-color: white;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.32);
    z-index: 99;
}

.header-item {
    background-color:white ;
    justify-content: flex-start;
    align-items: center;
}

.header-item > img {
    background-color: white;
    height: 30%;
    margin: 20px;
}

.header-item > a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    height: 75px;
    padding-top: 27px;
}

.header-item2 {
    background-color:white ;
    justify-content: flex-start;
    align-items: center;
}

.header-item2 > a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    height: 75px;
    padding-top: 27px;
}

.header-item2 > button {
    background-color: #0161ff;
    color: white;
    border-style: none;
    margin: 20px;
    height: 34px;
    width: 20%;
    font-weight: 600;
}

#link-button {
    width: 234px;
}

.header-item > img:hover {
    cursor: pointer;
}

.header-item > a:hover {
    border-bottom: solid 2px #0161ff;
}

.header-item2 > a:hover {
    border-bottom: solid 2px #0161ff;
}

.header-item2 > button:hover {
    background-color: #0046b8;
    cursor: pointer;
}

/* main-top elements */
.main-top {
    background-color: #b4d0e7;
}

.main-container-top {
    margin-left: 188px;
    height: 245px;
    background-color: #b4d0e7;
    padding: 75px; 
}

.main-container-top > h1 {
    width: 57%;
    padding-top: 50px;
    font-size: 247%;
    font-weight: 900;
    margin-left: 113px;
}

.main-container-top0 {
    width: 100%;
    margin: auto;
    height: 345px;
    background-color: #b4d0e7;
    padding-top: 20px;
}

#par0 {
    width: 390px;
    margin-left: 375px;
}

#img0 {
    position: absolute;
    right: 470px;
    width: 36%;
    top: 265px;
    z-index: 1;
}

#button0 {
    margin-left: 375px;
    margin-top: 30px;
    background-color: #0161ff;
    color: white;
    border-style: none;
    height: 35px;
    width: 14%;
    font-weight: 600;
}

#button0:hover {
    background-color: #0046b8;
    cursor: pointer;
}

#par1 {
    margin-left: 375px;
    margin-top: 30px;
    width: 235px;
}

#par1:hover {
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}

#arrow {
    margin-left: 375px;
    margin-top: 30px;
    height: 35px;
}

#arrow:hover {
    cursor: pointer;
}

/* main-medium elements */
.main-medium {
    width: 50%;
    margin: auto;
}

.main-medium > h2 {
    padding-top: 125px;
    font-size: 200%;
    font-weight: 700;
}

.circle {
    padding-top: 50px;
}

.circle > p {
    margin-right: 85px;
}

#square-circle0 {
    width: 25px;
    height: 25px;
    border: solid 6px #0161ff;
    margin-right: 5px;
    border-radius: 50%;
}

#square-circle1 {
    width: 25px;
    height: 25px;
    border: solid 2px gray;
    margin-right: 5px;
    border-radius: 50%;
}

#square-circle0:hover {
    cursor: pointer;
}

#square-circle1:hover {
    cursor: pointer;
}

/* start plans */
.plans {
    padding-top: 75px;
    justify-content: space-evenly;
}

.single {
    border: solid 1px grey;
    margin-right: 25px;
}

.team {
    border: solid 1px grey;
    margin-right: 25px;
}

.agency {
    border: solid 1px grey;
}

.single-title {
    border-bottom: solid 1px grey;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.team-title {
    border-bottom: solid 1px grey;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.agency-title {
    border-bottom: solid 1px grey;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.svg0 {
    margin-right: 5px;
}

.title0 {
    margin: 30px 0 10px 20px;
}

.title1 {
    margin: 20px 0 10px 20px;
}

.title2 {
    margin: 10px 0 10px 20px;
    color: gray;
    font-weight: 100;
    font-size: small;
}

.table {
    margin: 30px 0 10px 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 15px;
    width: 70%;
    font-size: small;
}

.list-button {
    margin: 10px 0 10px 20px;
    background-color: #0161ff;
    color: white;
    border-style: none;
    height: 35px;
    width: 70%;
    font-weight: 400;
}

.list-button:hover {
    background-color: #0046b8;
    cursor: pointer;
}

.shop-now {
    font-size: small;
    margin: 10px 0 10px 20px;
}

#now {
    text-decoration: none;
    color: #0161ff;
    margin-left: 5px;
}

#now:hover {
    cursor: pointer;
    border-bottom: solid 1px #0161ff;
}

.hr-table {
    width: 50px;
    margin: 30px 0 10px 20px;
}

.h5-table {
    margin: 30px 0 10px 20px;
}
/* finish plans */

.team-container {
    margin-top: 75px;
    margin-bottom: 125px;
    border: solid 1px grey;
}

.container-title-team {
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px grey;
    height: 40px;
}

.container-team0 {
    justify-content: space-between;
    align-items: baseline;
}

.container-team0 > button {
    margin-right: 10px;
    background-color: #0161ff;
    color: white;
    border-style: none;
    height: 35px;
    width: 25%;
    font-weight: 400;
}

.container-team0 > button:hover {
    background-color: #0046b8;
    cursor: pointer;
}

#par2 {
    font-size: small;
    width: 64%;
    margin: 20px 0 20px 20px;
}

#partner {
    width: 60%;
    margin-bottom: 15px;
}

#title3 {
    margin-left: 35px;
    margin-top: 40px;
}

#par3 {
    font-size: small;
    margin-left: 35px;
    margin-top: 20px;
    width: 64%;
}

#button1 {
    margin-top: 25px;
    margin-left: 35px;
    background-color: white;
    color: black;
    border-style: solid 1px black;
    height: 35px;
    width: 35%;
    font-weight: 600;
}

#button1:hover {
    background-color: lightgrey;
    cursor: pointer;
    transform: scale(1.1);
}

.img-container0 {
    margin-top: 55px;
    justify-content: space-between;
}

#imgpng {
    width: 300px;
}

.title-container0 {
    margin-top: 15px;
    justify-content: space-between;
}

.par-container0 {
    margin-top: 10px;
    justify-content: space-between;
    width: 94%;
}

.title-container0 > h3 {
    width: 31%;
    font-size: x-large;
}

.par-container0 > p {
    width: 27%;
    font-size: small;
}

#title4 {
    padding-top: 125px;
    font-size: xx-large;
}

#title5 {
    font-size: xx-large;
    padding-bottom: 40px;
}

#link0 {
    text-decoration: none;
    color: #0161ff;
}

#link0:hover {
    cursor: pointer;
    border-bottom: solid 1px #0161ff;
}

.main-bottom {
    padding-top: 150px;
}

.green {
    width: 333px;
    height: 333px;
    background-color: #a2d39b;
    justify-content: center;
    align-items: center;
    border: solid 20px #d2e9cd;
}

#designit {
    width: 65%;
    filter: invert(1);
}

.bordeaux {
    width: 333px;
    height: 333px;
    background-color: #60092b;
    justify-content: center;
    align-items: center;
}

#asu {
    width: 65%;
    filter: invert(1);
}

.lightblue {
    width: 333px;
    height: 333px;
    background-color: #0093ce;
    justify-content: center;
    align-items: center;
}

#uf {
    width: 65%;
    filter: invert(1);
}

.red {
    width: 333px;
    height: 333px;
    background-color: #ff1b1c;
    justify-content: center;
    align-items: center;
}

#topps {
    width: 65%;
    filter: invert(1);
}

.container-3 {
    width: 666px;
    height: 666px;
    background-color: #f5f5f5;
}

#img1 {
    width: 45%;
    margin: 45px 45px;
}

.container-3 > hr {
    width: 100px;
    margin-left: 45px;
}

#par4 {
    font-size: small;
    margin: 45px 45px;
    width: 76%;
}

.darkred {
    width: 333px;
    height: 333px;
    background-color: #d50120;
    justify-content: center;
    align-items: center;
}

.blue {
    width: 333px;
    height: 333px;
    background-color: #0d2481;
    justify-content: center;
    align-items: center;
}

.sky {
    width: 333px;
    height: 333px;
    background-color: #b4d0e7;
    justify-content: center;
    align-items: center;
}

.yellow {
    width: 333px;
    height: 333px;
    background-color: #ffd830;
    justify-content: center;
    align-items: center;
}

.bottom2 {
    background-color: #b4d0e7;
}

.container-bottom2 {
    background-color: #b4d0e7;
    height: 350px;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}

#title6 {
    font-size: xx-large;
    width: 45%;
    color: #60092b;
}

#button2 {
    background-color: white;
    color: black;
    height: 40px;
    width: 25%;
    font-weight: 600;
}

#button2:hover {
    background-color: lightgrey;
    cursor: pointer;
    transform: scale(1.1);
}

.container-quest {
    width: 50%;
    margin: auto;
    height: 500px;
}

#title7 {
    margin-top: 125px;
    margin-bottom: 50px;
    font-size: xx-large;
}

#hr0 {
    margin: 15px 0 15px 0;
}

.title8 {
    font-size: medium;
}

.quests0, .quests1, .quests2 {
    justify-content: space-between;
    align-items: center;
}

#par5 {
    margin-top: 15px;
    opacity: 0;
}

#par5:hover {
    opacity: 1;
    cursor: pointer;
}

#par6 {
    margin-top: 15px;
    opacity: 0;
}

#par6:hover {
    cursor: pointer;
    opacity: 1;
}

#par7 {
    margin-top: 15px;
    opacity: 0;
}

#par7:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    background-color: black;
}

.footer-container {
    background-color: black;
    color: white;
    width: 60%;
    margin: auto;
    height: 600px;
}

#f-title {
    margin-top: 150px;
    font-size: x-large;
    margin-bottom: 25px;
    margin-right: 125px;
    width: 102px;
}

.footer-link {
    margin-bottom: 100px;
}

.footer-link > ul {
    width: 185px;
    margin-right: 43px;
}

#flink {
    text-decoration: none;
    color: white;
}

#flink:hover {
    border-bottom: solid 1px white;
}

#hr1 {
    width: 100px;
    margin-bottom: 50px;
}

.language-container {
    align-items: center;
}

#svgworld {
    filter: invert(1);
}

#par8 {
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}